//variables
$primary-color:#272727;
$secondary-color:green;
$font-color:white;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
}
.header{
    display: flex;
    justify-content: space-evenly;
    .left-header{
        display:flex;
        flex-direction:column;
        img{
            width: 200px;
            // height: 500px;
            opacity: 0.5;
            border-radius: 50%;
        }
        p{
            color: seagreen;
        }
    }
    .right-header{
        // background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        .title{
            // margin-left: 55%;
            padding: 20px;
            font-size: 30px;
            letter-spacing: 10px;
            font-weight: 800;
            color: seagreen;
        }
        .nav-bar{
            // background-color: $font-color;
            display: flex;
            // margin-left: 55%;
            padding: 30px;
            .nav-items{
                text-decoration: none;
                word-spacing: 20px;
                .nav-links{
                    // padding: 20px;
                    color: $font-color;
                    // letter-spacing: 10px;
                }
            }
            .socials-links{
                display: flex;
                justify-content: space-evenly;
                margin-top: 15px;
                .social-items{
                    color: seagreen;
                    font-size: larger;
                }
                
            }
        }
    }
}
main{
    background-image: url("../images/download.jpeg");
    section{
        .body-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
    .welcoming-text{
        color: seagreen;
        text-align: center;
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    }
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background-color: seagreen;
    color: $primary-color;
    padding: 10px;
    p{
        font-size: larger;
        text-align: center;
    }
}

