.skills{
    width: 500px;
    background-color: seagreen;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin: 0 auto;
    span{
        padding: 20px;
        
        i{
            font-size: 20px;
        }
    }
}